<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathprog.sgrauerg.mathprog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_intro"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".GameplayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gameplay"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".HighscoreListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_highscore_list"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".GameEnding" />
        <activity android:name=".OverallStatsActivity" />
        <activity android:name=".InstructionsActivity"></activity>
    </application>

</manifest>
